/* 
    Document   : popup.css
    Created on : 03-Jun-2013, 17:00:40
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

body { 
  min-width: 357px;
  overflow-x: hidden;
}

/**/#textToCopy
{
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -10000px;
}/**/